{
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 80,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.md", "*.mdx"],
            "options": {
                "tabWidth": 2,
                "proseWrap": "preserve"
            }
        },
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
